---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
			:root {
				--bg-color-light: #ffffff;
				--bg-color-dark: #1e1f22;
				--bg-color-dark-secondary: #2b2d31;
				--bg-color-light-secondary: #f5f5f5;
				--bg-blend-mode: normal;
			}

			:root {
				--bg-main: linear-gradient(to bottom, #ffffff, #f0f0f0 25%);
				--bg-secondary: var(--bg-color-light-secondary);
			}

			:root.theme-dark {
				--bg-main: var(--bg-color-dark);
				--bg-secondary: var(--bg-color-dark-secondary);
			}
			
			.backgrounds {
				min-height: 100%;
				background-color: var(--bg-main);
				background-image: none;
				background-blend-mode: var(--bg-blend-mode);
			}
			
			.section {
				background-color: var(--bg-secondary);
				padding: 1rem;
				border-radius: 0.5rem;
				margin-bottom: 1rem;
			}

			@media (forced-colors: active) {
				/* Deactivate custom backgrounds for high contrast users. */
				.backgrounds {
					background: none;
					background-blend-mode: none;
					--bg-gradient-size: none;
				}
			}
		</style>
		</style>
	</body>
</html>
